[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/distri_indexer"]
	path = src/distri_indexer
	url = https://github.com/weiwch/hybrid-triangle-kmeans.git
